body {
    /*background-image: url("../images/bg.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    background-color: #5bc0de;
}

.form-login{
    background-color: white;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 65px;
    border-radius: 15px;
}

.avatar {
    display: block;
    margin: 0 auto;
}

.footer {
    background: #e3cfec;
}

.navbar b {
    color: #f9f789;
}

.navbar {
    border-radius: 0px;
    margin: 0px;
}

.navbar b:hover {
    color: white;
}