/* Page home */
.form-search {
	position: absolute;
	top: 40%;
	padding: 50px;
	background-color: black;
	opacity: 0.9;
}

.pagination {
	float: right;
}

.main-body {
	margin-top: 50px;
}

/* managements page */
.form-delete {
	display: inline;
}

#previewing {
	max-height: 200px;
}

.help-block {
	margin-bottom: 0px;
}

.btn-update {
	margin-top: 10px;
}