/* Page home */
.menu {
	margin-bottom: 0px;
}

.form-search {
	position: absolute; 
	top: 40%; 
	padding: 50px;
	background-color: black; 
	opacity: 0.9;
}

.pagination {
	float: right;
}

.help-block {
	margin-bottom: 0px;
}

.btn-update {
	margin-top: 10px;
}

#previewing {
	max-height: 200px;
}

.form-delete {
	display: inline;
}